@import url("https://cdn.jsdelivr.net/npm/destyle.css@2.0.2/destyle.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "./typography.scss";
// colors
:root {
    --pink: rgb(240, 136, 153);
    --maroon: rgb(110, 9, 9);
    --red: rgb(214, 25, 57);
    --hot-pink: rgb(204, 41, 204);
    --orange: rgb(214, 101, 25);
    --yellow: rgb(214, 164, 25);
    --cyan: rgb(24, 119, 163);
    --aqua: rgb(19, 138, 128);
    --green: rgb(10, 121, 60);
    --mint: rgb(113, 214, 158);
    --blue: rgb(47, 63, 133);
    --purple: rgb(101, 32, 133);
    --black: #222;
    --gray: #777;
    --gray-lt: #ccc;
    --white: rgb(250, 250, 250);
    --tint-blue: rgb(216, 233, 236);
    --tint-yellow: rgb(247, 246, 217);
}

// doc vars
:root {
    --base-font: "Roboto";
    --base-unit: 10px;
    --base-width: 750px;
}

// dom vars
:root {
    --h1: var(--red);
    --body-bg: var(--gray);
    --body-txt: var(--gray-lt);
    --layout-bg: var(--white);
    --card-bg: var(--tint-blue);
    --color-txt: var(--black);
}

// grid vars
:root {
    --gap: 5px;
    --col-count: 3;
    --col-width: calc(100% / var(--col-count) - var(--gap));
    --grid: repeat(auto-fill, minmax(var(--col-width), 1fr));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--h1);
}

html {
    font-size: var(--base-unit);
}

body {
    margin: 0;
    padding: 0;
    color: var(--body-txt);
    background: var(--body-bg);
    font-family: var(--base-font);
}

.layout {
    display: grid;
    grid-template-columns: auto minmax(0, var(--base-width)) auto;
    background-color: var(--layout-bg);
    min-height: 100vh;
}

.layout::before,
.layout::after {
    content: "";
    background: var(--body-bg);
}

.card {
    padding: calc(var(--gap) * 2);
    margin: var(--gap);
    border-radius: calc(var(--gap) / 2);
    color: var(--color-txt);
    background: var(--card-bg);
     :is(:last-child) {
        margin-bottom: 0;
    }
}

.grid {
    display: grid;
    gap: var(--gap);
    margin: var(--gap);
    grid-template-columns: var(--grid);
    .card {
        margin: 0;
    }
}